{% extends "layout.jinja2" %} {% block content %}

<div class="starter-template">
  <div class="container">
    <div class="row">
      <div class="col-md-4 d-flex justify-content-center">
        <img
          class="logo img-responsive"
          src="{{ request.static_url('nadamusic:static/pyramid.png') }}"
          alt="Nada music player"
        />
      </div>
      <div class="col-md-8">
        <div class="content">
          <h1>
            <span class="font-semi-bold">NADA</span>
            <span class="smaller">Music</span>
          </h1>
          <h1 class="lead">
            A Next generation music player
          </h1>

          {% if request.authenticated_userid %} Welcome
          <strong>{{ request.authenticated_userid }}</strong> ::
          <a href="{{request.route_url('auth',action='out')}}">Sign Out</a>
          {% else %}
          <a href="{{ request.route_url('login') }}" class="btn btn-warning"
            >Get started</a
          >
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-warning container-fluid text-light">
  <div class="container">
    <div class="row p-5">
      <div
        class="col p-5 d-flex flex-column justify-content-center align-items-center"
      >
        <img
          src="https://cdn2.iconfinder.com/data/icons/line-design-database-set-2/21/database-import-512.png"
          alt="database"
          height="100"
          class="text-center mb-4"
        />
        <h2 class="h4">Bring All Your Songs Together and Prepare It</h2>
        <p>
          A free music streaming program that pulls content from all possible
          sources all over the internet..
        </p>
      </div>
      <div
        class="col p-5 d-flex flex-column justify-content-center align-items-center"
      >
        <img
          src="https://cdn1.iconfinder.com/data/icons/ecommerce-21/32/29_product_search_searching_internet_address_bar_find-512.png"
          alt="query"
          height="140"
          class="text-center"
        />
        <h2 class="h4">Interactive Discovery and Segmentation</h2>
        <p>
          Nada music let's you query songs in unique ways. We allow for
          interactive, ad-hoc discovery of insights, anomalies, and trends.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="bg-primary container-fluid text-light">
  <div class="container">
    <div class="row p-5">
      <div class="col p-5">
        <img
          src="{{ request.static_url('nadamusic:static/mobile-app.jpeg') }}"
          alt="serenity"
          height="400"
          class="text-center mobile-img"
        />
      </div>
      <div class="col p-5 d-flex justify-content-center flex-column">
        <h2 class="h4" class="mb-3">A offline mobile music player</h2>
        <p>
          A offline first music player for android
        </p>
        <div>
          <a
            href="https://github.com/YajanaRao/Serenity"
            class="btn btn-secondary"
            >Download</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
