{% extends "layout.jinja2" %} {% block content %}

<div class="starter-template">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img
          class="logo img-responsive"
          src="{{ request.static_url('nadamusic:static/pyramid.png') }}"
          alt="Nada music player"
        />
      </div>
      <div class="col-md-8">
        <div class="content">
          <h1>
            <span class="font-semi-bold">Nada</span>
            <span class="smaller">Music</span>
          </h1>
          <p class="lead">
            Welcome to
            <span class="font-normal">Nada Music</span> &nbsp;<br /><span
              class="font-normal"
              >A Next generation</span
            >
            music player
          </p>

          {% if request.authenticated_userid %} Welcome
          <strong>{{ request.authenticated_userid }}</strong> ::
          <a href="{{request.route_url('auth',action='out')}}">Sign Out</a>
          {% else %}
          <a href="{{ request.route_url('login') }}" class="btn btn-warning"
            >Get started</a
          >
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-secondary container-fluid text-light">
  <div class="container">
    <div class="row p-5">
      <div class="col p-5">
        <!-- <img
          src="https://cdn2.iconfinder.com/data/icons/line-design-database-set-2/21/database-import-512.png"
          height="100"
          class="text-center"
        /> -->
        <h4>Bring All Your Songs Together and Prepare It</h4>
        <p>
          A free music streaming program that pulls content from all possible
          sources all over the internet..
        </p>
      </div>
      <div class="col p-5">
        <h4>Interactive Discovery and Segmentation</h4>
        <p>
          Nada music let's you query your data in unique ways. We allow for
          interactive, ad-hoc discovery of insights, anomalies, and trends.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
