<!DOCTYPE html>
<html lang="{{request.locale_name}}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#deede5">
  <meta name="keywords" content="Google drive music player, google drive player, cloud music, web player">
  <meta name="description"
    content="NADA music is a robust, cloud-based music platform that allows you to store, prepare, and explore your songs">
  <meta name="author" content="Yajana">
  <meta name="url" content="{{request.route_url('index')}}">

  <link rel="shortcut icon" href="{{request.static_url('nadamusic:static/pyramid-16x16.png')}}">

  <title>Nada Music - Next generation Music player</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


  <!-- Custom styles for this scaffold -->
  <link href="{{request.static_url('nadamusic:static/css/theme.css')}}" rel="stylesheet">
  <link href="{{request.static_url('nadamusic:static/css/loader.css')}}" rel="stylesheet">
  <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->
</head>

<body class="bg-light">
  <header class="mdc-top-app-bar mdc-top-app-bar--dense bg-light text-dark">
    <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <button class="mdc-icon-button material-icons mdc-top-app-bar__navigation-icon--unbounded">graphic_eq</button>
        <a href="/" class="h5 mb-0 text-secondary no-links">
          <strong class="text-success">NADA</strong> Music</a> </section>
      {% if request.authenticated_userid %}
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
        <button class="mdc-icon-button material-icons mdc-top-app-bar__action-item--unbounded"
          aria-label="Notifications">notifications</button>
        <a href="{{request.route_url('logout')}}"
          class="mdc-icon-button material-icons mdc-top-app-bar__action-item--unbounded"
          aria-label="Account">account_circle</a>
      </section>
      {% else %}
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">

        <a href="{{request.route_url('login')}}" class="mdc-button mdc-button--raised bg-dark btn"><span
            class="mdc-button__ripple"></span>Login</a>
      </section>

      {% endif %}
    </div>
  </header>
  <!-- <header class="navbar d-flex align-items-center pl-3 appbar">
    <a href="/" class="h5 mb-0 text-secondary no-links">
      <strong class="text-success">NADA</strong> Music</a>

    <div class="navbar navbar-left">
     
      <a href="{{request.route_url('logout')}}">Logout</a>
     
    </div>
  </header> -->
  <div class="content-container">
    {% block content %}
    <p>No content</p>
    {% endblock content %}
  </div>


  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <!-- Load React. -->
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

  <!-- custom js -->
  <script src="{{request.static_url('nadamusic:static/js/index.js')}}"></script>

  {% block script %}{% endblock %}

</body>

</html>