body {
  --mdc-theme-primary: #56c28c;
  --mdc-typography-button-font-weight: ;
}
/* custom css */

/* custom class */
.bg-background {
  background-color: #cfd0d1 !important;
}

.icon {
  transition: transform 0.2s; /* Animation */
  font-size: 16px !important;
}

.no-links {
  text-decoration: none;
}

.content-container {
  top: 6vh;
  position: fixed;
  width: 100%;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.mobile-img {
  border-radius: 0.25rem;
  box-shadow: 3px 3px 15px 11px #0022d49e;
}

.icon:hover {
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.a-hover-none:hover {
  text-decoration: none !important;
}

.connection-item {
  font-size: 14px;
  cursor: pointer;
}

.song-item {
  font-size: 14px;
  cursor: pointer;
}

.connection-item:hover {
  font-weight: 700;
}

.song-item:hover {
  font-weight: 700;
}

.list-song {
  border-radius: 0.1rem;
  color: #000;
  margin-bottom: 0.3rem;
  cursor: pointer;
  font-size: 14px;
}

.list-song:hover {
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.app-fab--absolute {
  position: fixed !important;
  bottom: 2rem;
  right: 1.5rem;
}

@media (min-width: 991.98px) {
  .app-fab--absolute {
    position: fixed !important;
    top: 4rem;
    left: 1rem;
  }
}

#playerBar {
  position: fixed;
  bottom: 2rem;
  left: 1.5rem;
  max-width: 70vw;
}

/* bootstrap theme overrite */

/* list group item */
.list-group-item {
  border: 0 !important;
}

/* button */
.btn {
  font-weight: 500;
  font-size: 0.825rem;
  padding: 0.325rem 0.75rem;
  line-height: 1.5;
  border-radius: 2px;
  transition: opacity 0.15s ease-in-out, color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.form-control {
  padding-top: 0.325rem !important;
  padding-bottom: 0.325rem !important;
  border: 1px solid #8f9195 !important;
}

/* modal */
.modal-content {
  border-radius: 4px !important;
}

.modal-body {
  height: 40vh;
}
